@layer reset, theme;

@layer reset {
  @import "./reset.css";
}

@layer theme {
  @font-face {
    font-family: "HackGenNerd";
    font-weight: 400;
    src: local("HackGenConsoleNF-Regular");
  }

  @font-face {
    font-family: "HackGenNerd";
    font-weight: 600;
    src: local("HackGenConsoleNF-Bold");
  }

  @font-face {
    font-family: "Tazugane";
    font-weight: 400;
    src: local("TazuganeGothicStdN-Regular");
  }

  @font-face {
    font-family: "HackGenNerd";
    font-weight: 600;
    src: local("TazuganeGothicStdN-Bold");
  }

  body {
    width: 100%;
  }

  body * {
    font-family: "Tazugane", "Helvetica Neue", Arial,
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-feature-settings: "pkna";
    font-size: 12px;
    line-height: 1.75;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.5rem;
    font-weight: 600;
    line-height: 1.35;
  }

  p,
  ul,
  ol,
  table,
  img,
  code,
  blockquote,
  dl,
  iframe {
    margin-top: 1.5rem;
  }

  h1 {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
  }

  h2 {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #dadada;
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  hr {
    margin: 4rem 0;
  }

  table {
    min-width: 100%;
  }

  th,
  td {
    white-space: nowrap;
  }

  th {
    padding: 0.25rem 0;
  }

  td {
    padding: 0.5rem 0;
    border-top: 1px solid #eaeaea;
  }

  td:last-child {
    white-space: normal;
  }

  td:first-child {
    vertical-align: middle;
  }

  td ul,
  td ol,
  li ul,
  li ol {
    margin-top: 0;
  }

  li {
    padding: 0.15rem 0;
  }

  li p {
    margin-top: 0;
  }

  ul,
  ol {
    padding-left: 1.25rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  code {
    padding: 0.2rem 0.4rem;
    background-color: #f0f0f0;
    border-radius: 3px;
    font-family: "HackGenNerd";
  }

  .hidden {
    display: none;
  }

  .zoom50 {
    zoom: 0.5;
  }

  .zoom75 {
    zoom: 0.75;
  }

  .zoom150 {
    zoom: 1.5;
  }

  hr {
    opacity: 0;
    break-after: page;
  }

  .mermaid svg {
    max-width: 780px;
  }
}
